// font family
$family-primary: 'Poppins', sans-serif;

// weight
$weight-thin: 100;
$weight-extra-thin: 200;
$weight-light: 300;
$weight-normal: 400;
$weight-semi-medium: 500;
$weight-medium: 600;
$weight-semibold: 700;
$weight-bold: 800;
$weight-extra-bold: 900;